.profile-container {
  padding: 20px 15%;
  color: #626262;
}

.cover-img {
  position: relative;
  height: 50vh;
  border-radius: 10px;
  margin-bottom: 14px;
}

.cover-img img {
  border-radius: 5px;
}

.cover-btn {
  position: absolute;
  background-color: #fff;
  bottom: 10px;
  right: 10px;
  font-size: 15px;
  padding: 4px 6px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
}

.cover-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.pd-row {
  display: flex;
  align-items: flex-start;
}

.pd-images {
  position: relative;
  width: 100px;
  margin-right: 20px;
}

.pd-images .avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar-btn {
  position: absolute;
  bottom: 10px;
  right: 0;
  outline: none;
  border: none;
  background-color: #eeeeee;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
}

.avatar-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.pd-row div h3 {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.pd-row div p {
  font-size: 13px;
  margin: 0;
}

.pd-row div img {
  width: 25px;
  border-radius: 50%;
  margin-top: 12px;
}

.pd-right button {
  background: #1876f2;
  border: none;
  outline: none;
  padding: 6px 12px;
  font-size: 15px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  color: #fff;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}

.pd-right button img {
  height: 15px;
  margin-right: 10px;
}

.pd-right button:first-child {
  background-color: #e4e6eb;
  color: #000;
}

.pd-right {
  text-align: right;
}

.pd-right a {
  background: #e4e6eb;
  border-radius: 3px;
  padding: 15px 12px;
  display: inline-flex;
  margin-top: 30px;
  cursor: pointer;
}

.pd-right a img {
  width: 15px;
}

.pd-right a:hover {
  opacity: 0.8;
}

.pd-right button:hover {
  opacity: 0.8;
}

.profile-info {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.info-col {
  flex-basis: 33%;
}

.post-col {
  flex-basis: 65%;
}

.profile-intro {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.profile-intro h3 {
  font-weight: 600;
}

.intro-text {
  text-align: center;
  margin: 10px 0;
  font-size: 15px;
}

.profile-intro hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 24px 0;
}

.profile-intro ul li {
  font-size: 15px;
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.profile-intro ul li img {
  width: 26px;
  margin-right: 10px;
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-box a {
  text-decoration: none;
  color: #1876f2;
  font-size: 14px;
}

.title-box h3 {
  margin: 0;
}

.profile-intro > p {
  margin: 0;
  font-size: 14px;
}

.photo-box,
.friends-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 10px;
  margin-top: 15px;
  justify-content: center; /* Canh giữa nếu có ít bạn bè */
}

.photo-box div img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.friends-box div img {
  /* width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
  padding-bottom: 30px; */
  max-width: 70px;
  overflow: hidden;
  border-radius: 5px;
  padding-bottom: 30px;
  cursor: pointer;
}

.friends-box div {
  position: relative;
}

.friends-box p {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 13px;
  font-weight: 500;
}

.friends-box p:hover {
  text-decoration: underline;
}

.post__box-content {
  margin: 0 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#edit-profile-modal {
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}
