* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bard-sidenav-container {
    display: flex;
    width: 100%;
    height: auto;
}

.bard-sidenav {
    width: 370px;
    padding: 10px;
    background-color: #fff;
    overflow-y: auto;
}

/* HEADER */

.header {
    display: flex;
}

.header a {
    padding: 6px;
}

.header i {
    font-size: 24px;
    color: #65686c;
    padding: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    border-radius: 50%;
    display: inline-block; 
}

.header i:hover {
    background-color: #e2e2e7;
    transform: scale(1.1);
}

.header-content a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header-content p {
    position: relative;
    width: max-content;
    color: #65686c;
    font-size: 14px;
}

.header-content p::after {
    content: '';
    background-color: #65686c;
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-content p:hover::after {
    width: 100%;
}

.bard-sidenav-content {
    flex: 1;
    background-color: #e2e5e9;
}

.header_p {
    margin: 10px 0 4px 0;
    font-size: 20px;
}


/* CONTENT */

.content {
    display: flex;
    padding: 4px;
}

.content:hover {
    border-radius: 6px;
    background-color: #e7e8eb;
}

.content img {
    width: 70px;
    height: auto;
    border-radius: 50%;
}

.content_b {
    margin: 10px 0 10px 0;
    display: flex;
}

.content_b img {
    font-size: 16px;
    width: 18px;
    height: auto;
    padding: 0 4px 0 0;
}

.content_b p {
    font-size: 17px;
}

.content_c {
    display: flex;
}

.add {
    align-items: center;
    background-color: #0866ff;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    width: 130px;
    height: 40px;
    margin: 0 6px 0 0;
    border: none;
    cursor: pointer;
}

.delete {
    align-items: center;
    background-color: #d5d7dc;
    border-radius: 6px;
    font-size: 16px;
    width: 130px;
    height: 40px;
    border: none;
    cursor: pointer;
}
